@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Ropa+Sans:ital@0;1&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #03223f;
    color: #ffd891;
}

/* Pseudo-classe para mudar a cor da seleção de texto */
::selection{
    background: #fde68a;
  color: #1f2933;

}

/* Pseudo-classe para alterar o srollbar */
::-webkit-scrollbar{
    width:0.91rem;
}

/* Cor de fundo */
::-webkit-scrollbar-track {
  background-color: #042b50; 
  
}
 
/* Cor da barrinha */
::-webkit-scrollbar-thumb {
  background-color: #ffd891; 
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e19f41;
}

.cabeçalho {
    background-color: #010d23;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    padding: 0rem 2rem;
}

.cabeçalho-imagem {
    height: 4rem;
}

.cabeçalho-nav {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.item-nav{
    font-family: "Ropa Sans", serif;
    font-size: 1.5rem;
    color: #e19f41;
}

.item-nav:hover{
    text-shadow: 2px 3px 10px #ffd891;
}

.conteudo {
    border-top: 0.4px solid #e19f41;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.seção1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.seção1-bloco {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.bloco-titulo {
    font-family: "Bree Serif", serif;
    color: #e19f41;
    font-size: 3.5rem;
}

.bloco-subtitulo {
    color: #ffd891;
    font-family: "Ropa Sans", serif;
    font-size: 2rem;
}

.bloco-botão:hover {
    background-color: #e19f41;
        cursor: pointer;
}

.bloco-botão:active {
    background-color: #e19f41;
}

.bloco-botão {
    background-color: #fccb6f;
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    font-family: "Ropa Sans", serif; 
    font-size: 1.3rem;   
    box-shadow: 2px 3px 2px;
    color: #010d23;
    /* O fit-content serve para deixar com a largura igual ao do conteudo */
    width: fit-content;
}  

.seção2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
    padding: 3rem;
}

.seção2-titulo {
    border-top: 0.4px solid #e19f41;
    padding: 2rem;
    font-size: 2rem;
    color: #e19f41;
    font-family: "Bree Serif", serif;
}

.seção2-texto {
    color: #ffd891;
    font-size: 1.2rem;
    font-family: "Ropa Sans", serif; 
}

.rodapé {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.4px solid #e19f41;
    background-color: #010d23;
    padding: 1.2rem;
}

.rodapé-texto, .rodapé-texto a{
    color: #e19f41;
    font-family: "Bree Serif", serif; 
}
.rodapé-texto a:hover {
    text-shadow: 1px 2px 10px #ffcc6e;
}

/* AUTORA */

.seção-principal {
    height: 80vh;
    display: flex;
    padding: 2rem 8rem;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

.texto-autora h2 {
    font-family: 'Bree Serif';
    color: #e19f41;
}

.texto-autora {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
    font-family: "Ropa Sans", serif; 
}

.imagem-autora {
    width: 30vw;
}

/* CONTEUDO */

.seção-principal-conteudo{
    height: 80vh;
    display: flex;
    align-items: center;
    padding: 2rem 8rem;
    justify-content: center;
    gap: 3rem;
}

.conteudo-texto{
    display: flex;
    flex-direction: column;
    
    font-size: 1.5rem;
    gap: 1rem;
    font-family: "Ropa Sans", serif; 
}


.conteudo-texto h2{
    font-family: 'Bree Serif';
    color: #e19f41;
}

.conteudo-imagem {
    width: 30vw;
}